{% extends "usernav.html" %} {% block start %} {% load static %}

<style>
  .container1 {
    background-color: lightgreen;
    border-radius: 8px;
  }
  h2,
  h4 {
    padding: 10px;
  }
</style>

{% if not error %}
<script>
  alert("Password Changed Successfully!!");
  window.location = '{% url "Logout" %}';
</script>
{% else % }
<script>
  alert("Try Again !!");
</script>
{% endif %}

<nav
  class="navbar navbar-expand-sm justify-content-center"
  style="background-color: lightblue"
>
  <ul class="navbar-nav">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
      >
        Welcome {{request.user.first_name}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'profile' %}">PROFILE</a>
        <a class="dropdown-item" href="#">EDIT PROFILE</a>
        <a class="dropdown-item" href="{% url 'changepwd' %}"
          >CHANGE PASSWORD</a
        >
      </div>
    </div>
  </ul>
</nav>

<div class="col-sm-4">
  <h2 class="text-center">CHANGE PASSWORD</h2>
  <hr />

  <!--  -->
  <form method="POST">
    {% csrf_token %}
    <label>OLD PASSWORD</label>
    <input
      type="password"
      class="form-control"
      placeholder="Enter old password"
      name="oldpwd"
    />
    <label>NEW PASSWORD</label>
    <input
      type="password"
      class="form-control"
      placeholder="Enter new password"
      name="newpwd"
    />
    <label>CONFIRM PASSWORD</label>
    <input
      type="password"
      class="form-control"
      placeholder="Enter password again"
      name="cnfpwd"
    />
    <input type="submit" class="btn btn-danger mt-2" value="Login" />
  </form>
</div>

{% endblock %}
