{% extends "usernav.html" %} {% block start %} {% load static %}

<style>
  .container1 {
    background-color: lightgreen;
    border-radius: 8px;
  }
  h2,
  h4 {
    padding: 10px;
  }
</style>

{% if flag %}
<script>
  alert("Profile Updated Successfully");
  window.location = "{% url 'profile' %}";
</script>
{% endif %}

<nav
  class="navbar navbar-expand-sm justify-content-center"
  style="background-color: lightblue"
>
  <ul class="navbar-nav">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
      >
        Welcome {{request.user.first_name}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'profile' %}">PROFILE</a>
        <a class="dropdown-item" href="{% url 'edit_profile' %}"
          >EDIT PROFILE</a
        >
        <a class="dropdown-item" href="{% url 'changepwd' %}"
          >CHANGE PASSWORD</a
        >
      </div>
    </div>
  </ul>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <!-- form -->
      <form method="POST">
        {% csrf_token %}

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              value="{{data.user.first_name}}"
              name="fname"
            />
          </div>

          <div class="form-group col-md-6">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              value="{{data.user.last_name}}"
              name="lname"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email Id</label>
            <input
              type="text"
              class="form-control"
              value="{{data.user.username}}"
              name="emailid"
              readonly
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Contact</label>
            <input
              type="text"
              class="form-control"
              value="{{data.contact}}"
              name="contact"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Branch</label>
            <br />
            <select name="branch" class="form-control">
              <option value="Computer Science">Computer Science</option>
              <option value="Information Technology">
                Information Technology
              </option>
              <option value="Electronics and communication">
                Electronics and communication
              </option>
            </select>
          </div>
          <div class="form-group col-md-5 mt-2">
            <br />
            <input
              type="text"
              value="{{data.branch}}"
              class="form-control"
              readonly
            />
          </div>
        </div>

        <input type="submit" value="Update" class="btn btn-primary mt-5" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
