<!-- Home Page for User's -->
{% extends "navigation.html" %} 
{% block start %} 
{% load static %}
<div class="image">
  <div class="transparent-box">
    <p>Share Your Notes</p>
  </div>
</div>

<h4 class="text-center text-danger mt-5 mb-5">User Manual</h4>

<div class="container mt-5 mb-10">
  <div class="row">
    <div class="col-sm-3">
      <div class="box1">
        <p class="halfcircle"><i class="fas fa-user-circle mt-4"></i></p>
        <p class="halfcircleBottom">Create Account</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="box1">
        <p class="halfcircle"><i class="fas fa-sign-in-alt mt-4"></i></p>
        <p class="halfcircleBottom">Login</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="box1">
        <p class="halfcircle"><i class="fas fa-upload mt-4"></i></p>
        <p class="halfcircleBottom">Upload Notes</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="box1">
        <p class="halfcircle"><i class="fas fa-download mt-4"></i></p>
        <p class="halfcircleBottom">Download Notes</p>
      </div>
    </div>
  </div>
</div>

<br />
<br />

{% endblock %}