{% extends "navigation.html" %} {% block start %} {% load static %}

<!--  -->
{% if not error %}
<script>
  alert("Logged In Successfully!!");
  window.location = '{% url "profile" %}';
</script>
{% else % }
<script>
  alert("Invalid Credentials, Try Again!!");
</script>
{% endif %}
<!--  -->
<div class="conatiner mt-5">
  <div class="row">
    <div class="col-sm-4 ml-5">
      <h2 class="text-center">New User</h2>
      <hr />
      <p>
        Get started by clicking below button to create a new account and start
        uploading and downloading notes.
      </p>
      <center>
        <a href="{% url 'signup' %}" class="btn btn-danger text-white mt-5"
          >Create an account</a
        >
      </center>
    </div>
    <div class="col-sm-4">
      <h2 class="text-center">Log In</h2>
      <hr />

      <!--  -->
      <form method="POST">
        {% csrf_token %}
        <label>Email ID</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter Email-id"
          name="emailid"
        />
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="pwd"
        />
        <input type="submit" class="btn btn-danger mt-2" value="Login" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
