{% extends "navigation.html" %}
{% block start %} 
{% load static %} 
{% if not error %}
<script>
  alert("Logged In Successfully!!");
  // then user will be able to viste profile url
  window.location = "{% url 'admin_home' %}";
</script>
{% else % }
<script>
  alert("Invalid Credentials, Try Again!!");
</script>
{% endif %}

<div class="conatiner mt-5">
  <div class="row">
    <div class="col-sm-4 ml-5">
      <!-- <h2 class="text-center">New User</h2> -->
      <img src="{% static 'images/admin.jpg' %}" class="img-thumbnail" />
    </div>

    <div class="col-sm-4">
      <h2 class="text-center">Admin Log In</h2>
      <hr />
      <p>Enter Your Username and Password For access Admin panel</p>

      <!--  -->
      <form method="POST">
        {% csrf_token %}
        <label>Username </label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Username"
          name="uname"
        />
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="pwd"
        />
        <input type="submit" class="btn btn-danger mt-2" value="Login" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
