{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Sharing Site</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-sm justify-content-center"
      style="background-color: lightblue"
    >
      <ul class="navbar-nav">
        <li class="navbar-it">
          <a class="nav-link" href="{% url 'index' %}">HOME</a>
        </li>
        <li class="navbar-it">
          <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
        </li>
        <li class="navbar-it">
          <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
        </li>
        <li class="navbar-it">
          <a class="nav-link" href="{% url 'userlogin' %}">LOGIN</a>
        </li>
        <li class="navbar-it">
          <a class="nav-link" href="{% url 'login_admin' %}">ADMIN LOGIN</a>
        </li>
      </ul>
    </nav>

    {% block start %}
    
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
