
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Sharing Site</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
  </head>
  <body>
    <!-- <nav
      class="navbar navbar-expand-sm justify-content-center"
      style="background-color: lightblue"
    >
      <ul class="navbar-nav">
        <li class="navbar-it">
          <a class="nav-link" href="">HOME</a>
        </li>
        <li class="navbar-it">
          <a class="nav-link" href="">ABOUT</a>
        </li>
        <li class="navbar-it">
          <a class="nav-link" href="">CONTACT</a>
        </li>
        <li class="navbar-it">
          <a class="nav-link" href="">LOGIN</a>
        </li>
        <li class="navbar-it">
          <a class="nav-link" href="">ADMIN LOGIN</a>
        </li>
      </ul>
    </nav> -->
    <nav class="navbar navbar-expand-sm " id="navigation" >
      <ul class="navbar-nav" id="nav1">
          <li class="navbar-it">
              <a class="nav-link" href="{% url 'index' %}">
                  <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                  </span>
                  <span class="text">HOME</span>
              </a>     
          </li>
          <li class="navbar-it">
              <a class="nav-link" href="{% url 'index' %}">
                  <span class="icon"><ion-icon name="desktop-outline"></ion-icon></span>
        <span class="text">ABOUT</span>
              </a>
          </li>
          <li class="navbar-it">
              <a class="nav-link" href="{% url 'index' %}"><span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                  <span class="text">CONTACT</span></a>
          </li>
          <li class="navbar-it">
              <a class="nav-link" href="{% url 'index' %}"><span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
                  <span class="text">LOGIN</span></a>
          </li>
          <li class="navbar-it">
              <a class="nav-link" href="{% url 'index' %}">       <span class="icon"><ion-icon name="bag-check-outline"></ion-icon></span>
                  <span class="text">ADMIN</span></a>
          </li>
      </ul>
      <h3 class="h3" id="navlogo"><span id="span"><img  class="logo" src="{% static 'images/letter.png' %}" alt="">otes</span></h3>
  </nav>


    {% block start %} 
    
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
