{% extends "usernav.html" %} {% block start %} {% load static %}

<style>
  .container1 {
    background-color: lightgreen;
    border-radius: 8px;
  }
  h2,
  h4 {
    padding: 10px;
  }
</style>

<nav
  class="navbar navbar-expand-sm justify-content-center"
  style="background-color: lightblue"
>
  <ul class="navbar-nav">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
      >
        Welcome {{request.user.first_name}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'profile' %}">PROFILE</a>
        <a class="dropdown-item" href="{% url 'edit_profile' %}"
          >EDIT PROFILE</a
        >
        <a class="dropdown-item" href="{% url 'changepwd' %}"
          >CHANGE PASSWORD</a
        >
      </div>
    </div>
  </ul>
</nav>

<div class="container mt-5">
  <h2 class="text-center">PROFILE</h2>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <b>FULL NAME :</b>
    </div>
    <div class="col-md-6" style="text-transform: capitalize">
      {{data.user.first_name}} {{data.user.last_name}}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <b>EMAIL:</b>
    </div>
    <div class="col-md-6">{{data.user.username}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <b>CONTACT:</b>
    </div>
    <div class="col-md-6">{{data.contact}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <b>BRANCH:</b>
    </div>
    <div class="col-md-6">{{data.branch}}</div>
  </div>

  <a href="{% url 'edit_profile'%}" class="btn btn-primary mt-5"
    >Edit Profile</a
  >
</div>

{% endblock %}
